@model EyeAttend.Models.StudentPhoto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentPhoto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label for="imageFiles">Select Images:</label>
                <input type="file" name="imageFiles" multiple class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
